* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 15px 0;
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0px rgba(3, 3, 7, 0.3) inset;
  padding: 15px 0;
  background-color: rgb(231, 231, 231);
  font-weight: 500;
}
.localisation__icone {
  margin: 0;
  padding-right: 20px;
}
.localisation__ville {
  margin: 0;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 30px;
}
.reservation__titre {
  margin: 0;
  font-weight: 750;
  text-align: center;
}
.reservation__description {
  text-align: center;
}
.reservation__bouton {
  font-weight: 500;
  border-radius: 20px;
  border: 0px transparent;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  padding: 13px 17px;
  color: white;
  background: linear-gradient(#f392d8, #9356DC);
}

.fonctionnement {
  padding: 30px;
}
.fonctionnement ul {
  padding: 0;
}
.fonctionnement .fonctionnement__etape:hover .fonctionnement__etape__icone {
  color: #9356DC;
}
.fonctionnement__etape {
  border-radius: 20px;
  border: 0px transparent;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  font-weight: 600;
  margin-bottom: 20px;
  padding: 25px 0;
  background-color: rgb(247, 247, 247);
  list-style: none;
}
.fonctionnement__etape:hover {
  background-color: #f5eef7;
}
.fonctionnement__etape__chiffre {
  border-radius: 20px;
  border: 0px transparent;
  position: relative;
  right: 15px;
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
}
.fonctionnement__etape__icone {
  color: grey;
  padding-right: 15px;
}

.restaurant {
  background-color: rgb(247, 247, 247);
  padding: 30px;
}
.restaurant__carte {
  border-radius: 20px;
  border: 0px transparent;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  height: 300px;
  margin-bottom: 50px;
  background-color: white;
}
.restaurant__carte__container {
  position: relative;
  height: 70%;
}
.restaurant__carte__container__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__carte__container__image--nouveau {
  border: #99E2D0 1px solid;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  bottom: 70%;
  padding: 5px 15px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #2e806c;
}
.restaurant__carte__bas {
  display: flex;
  padding: 20px;
  align-items: baseline;
}
.restaurant__carte__bas__icone {
  margin-left: auto;
}
.restaurant__carte__bas__texte__titre, .restaurant__carte__bas__texte__quartier {
  margin: 0;
}
.restaurant__carte__bas__texte__quartier {
  font-size: 22px;
  font-weight: 300;
}

.footer {
  padding: 30px;
  background-color: rgb(44, 43, 43);
  color: white;
}
.footer__logo {
  filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(86deg) brightness(104%) contrast(104%);
  width: 100px;
}
.footer__list {
  list-style: none;
  padding: 0;
}
.footer__list__icone {
  padding-right: 10px;
}
.footer__list li {
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
