@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}
@keyframes barres {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}
body a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation: loader 3s forwards;
}
.container span {
  margin: 20px;
  font-weight: 500;
  font-size: 2vh;
  text-align: center;
}

.load {
  display: flex;
  width: 130px;
  height: 75px;
  justify-content: space-evenly;
}
.load__bar {
  height: 60px;
  width: 13px;
  background-color: #FF79DA;
  animation-name: barres;
  animation-duration: 900ms;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.load__bar--1 {
  animation-delay: 100ms;
}
.load__bar--1-inv {
  background-color: #9356DC;
  animation-delay: 870ms;
  animation-direction: alternate-reverse;
}
.load__bar--1-inv:hover {
  animation-play-state: paused;
}
.load__bar--2 {
  animation-delay: 200ms;
}
.load__bar--2-inv {
  background-color: #9356DC;
  animation-delay: 1170ms;
  animation-direction: alternate-reverse;
}
.load__bar--2-inv:hover {
  animation-play-state: paused;
}
.load__bar--3 {
  animation-delay: 300ms;
}
.load__bar--3-inv {
  background-color: #9356DC;
  animation-delay: 525ms;
  animation-direction: alternate-reverse;
}
.load__bar--3-inv:hover {
  animation-play-state: paused;
}
.load__bar--4 {
  animation-delay: 400ms;
}
.load__bar--4-inv {
  background-color: #9356DC;
  animation-delay: 1530ms;
  animation-direction: alternate-reverse;
}
.load__bar--4-inv:hover {
  animation-play-state: paused;
}
.load__bar--5 {
  animation-delay: 500ms;
}
.load__bar--5-inv {
  background-color: #9356DC;
  animation-delay: 1620ms;
  animation-direction: alternate-reverse;
}
.load__bar--5-inv:hover {
  animation-play-state: paused;
}

.header {
  padding: 15px 0;
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.localisation {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 2px 5px 0px rgba(3, 3, 7, 0.3) inset;
  background-color: rgb(231, 231, 231);
}
.localisation__icone {
  margin: 0;
  padding-right: 20px;
}
.localisation__ville {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.reservation {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
}
.reservation__titre {
  margin: 0;
  text-align: center;
  font-weight: 750;
}
.reservation__description {
  text-align: center;
}
.reservation__bouton {
  padding: 13px 17px;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  background: linear-gradient(#FF79DA, #9356DC);
}
.reservation__bouton:hover {
  background: linear-gradient(#ff88dd, #9c66df);
  box-shadow: 0px 9px 7px 0px rgba(102, 102, 110, 0.3);
}

.fonctionnement {
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.fonctionnement__titre {
  font-size: 1.5em;
  margin: 0.67em 0px;
}
.fonctionnement ul {
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonctionnement__etape {
  margin-bottom: 20px;
  padding: 25px 0;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  background-color: rgb(247, 247, 247);
  list-style: none;
}
.fonctionnement__etape:hover {
  background-color: #f5eef7;
}
.fonctionnement__etape:hover .fonctionnement__etape__icone {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__etape {
    width: 30%;
  }
}
.fonctionnement__etape__chiffre {
  position: relative;
  right: 15px;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  background-color: #9356DC;
}
.fonctionnement__etape__icone {
  padding-right: 15px;
  color: grey;
}

#bouton, #boutonn, #boutonnn, #boutonnnn {
  display: none;
}
#bouton:checked + label > i, #boutonn:checked + label > i, #boutonnn:checked + label > i, #boutonnnn:checked + label > i {
  font-weight: 900;
  color: transparent;
  background: linear-gradient(#f392d8, #9356DC);
  background-clip: text;
}

.restaurant {
  padding: 30px;
  background-color: rgb(247, 247, 247);
}
@media screen and (min-width: 768px) {
  .restaurant {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.restaurant__titre {
  font-size: 1.5em;
  margin: 0.67em 0px;
}
@media screen and (min-width: 1024px) {
  .restaurant__paire {
    display: flex;
    justify-content: space-between;
  }
}
.restaurant__carte {
  height: 300px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .restaurant__carte {
    width: 45%;
  }
}
.restaurant__carte__container {
  position: relative;
  height: 70%;
}
.restaurant__carte__container__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__carte__container__image--nouveau {
  position: absolute;
  right: 5%;
  bottom: 70%;
  padding: 5px 15px;
  font-weight: 500;
  color: #2e806c;
  border: #99E2D0 1px solid;
  border-radius: 2px;
  background-color: #99E2D0;
}
.restaurant__carte__bas {
  display: flex;
  align-items: center;
  padding: 20px;
}
.restaurant__carte__bas__texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__carte__bas__texte__titre, .restaurant__carte__bas__texte__quartier {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__carte__bas__texte__quartier {
  font-size: 22px;
  font-weight: 300;
}
.restaurant__carte__bas__label {
  margin-left: auto;
  padding-left: 10px;
}
.restaurant__carte__bas__label__icone {
  padding: 14px 1px;
}
@media screen and (min-width: 768px) {
  .restaurant__carte__bas__label__icone {
    pointer-events: none;
  }
}

.restaurant__carte__bas a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  padding: 30px;
  color: white;
  background-color: rgb(52, 52, 52);
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
.footer__logo {
  width: 100px;
  filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(86deg) brightness(104%) contrast(104%);
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-bottom: 11px;
  }
}
.footer__list {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    margin-right: 30px;
  }
}
.footer__list li {
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .footer__list li {
    margin-right: 15px;
  }
}
.footer__list__icone {
  width: 20px;
  height: 16px;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
