// Variables
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-teritiary : #99E2D0;
$color-quaternary : rgb(247,247,247);
$padding-page : 30px;
// Mixins
@mixin ombre {
    box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
}
@mixin bordure {
    border-radius: 20px;
}
@mixin tablette {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
// Keyframes
@keyframes loader{
    0% {
        opacity : 1;
    }
    100% {
        opacity :0;
        display: none;
    }
}
@keyframes barres {
    0% {
     transform: scaleY(0.5);
    }
    100% {
     transform: scaleY(1);
    }
}
// Règles générales
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
}
// Loader
.container {
    position: fixed; // le loader sera toujours visible sur la fenetre même si on scrolle
    z-index: 999; // le loader couvrira les élements qui le suivent
    width: 100%; // le loader prendra toute la largeur de la fenetre
    height: 100%; // le loader prendra toute la hauteur de la fenetre
    display: flex; // pour pouvoir centrer le loader
    flex-direction: column; // pour que les blocs de l'animation se superposent en colonne
    align-items: center; // centre le loader en horizontale
    justify-content: center; // centre le loader en verticale
    background-color: white; // couleur d'arrière-plan du loader
    animation : loader 3s forwards;
    & span {
        margin: 20px;
        font-weight: 500;
        font-size: 2vh;
        text-align: center;
    }
 }
 .load {
    display: flex;
    width: 130px;
    height: 75px;
    justify-content: space-evenly;
    &__bar {
        height: 60px;
        width: 13px;
        background-color: $color-secondary;
        animation-name: barres;
        animation-duration: 900ms;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $i * 100ms;
            }
            &--#{$i}-inv {
                background-color: $color-primary;
                animation-delay: $i * 150ms + random(100)*15ms;
                animation-direction: alternate-reverse;
                &:hover {
                    animation-play-state: paused;
                }
            }
        } 
     }   
}
// En-tête de page
.header{
    padding: 15px 0;
    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        }
} 
// Partie localisation
.localisation {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-shadow: 0 2px 5px 0px rgba(3, 3, 7, 0.3) inset;
    background-color: rgb(231, 231, 231);
    &__icone {
        margin: 0;  
        padding-right: 20px;
    }   
    &__ville {
       margin: 0;  
       font-weight: 500; 
       font-size: 16px;
    }
} 
// Partie réservation
.reservation {
    display: flex;
    padding: $padding-page;
    flex-direction: column;
    align-items: center;
    background-color: $color-quaternary;
    &__titre {
        margin: 0 ;
        text-align: center;
        font-weight: 750;
    } 
    &__description {
        text-align: center;
    }
    &__bouton {
        padding: 13px 17px;
        color:white;
        font-weight: 500;
        @include bordure;
        @include ombre ;  
        background: linear-gradient($color-secondary, $color-primary);
        &:hover {
            background: linear-gradient(#ff88dd, #9c66df);
            box-shadow: 0px 9px 7px 0px rgba(102, 102, 110, 0.3);
        }
} 
}
// Partie fonctionnement
.fonctionnement {
    padding:$padding-page;
    @include tablette{
        padding-left: 90px;
        padding-right :90px;
    }
    &__titre {
        font-size: 1.5em;
        margin : 0.67em 0px;
    }
    ul {
        padding: 0;   
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }   
    }
    &__etape {
        margin-bottom: 20px;
        padding: 25px 0;
        font-weight: 600;
        @include bordure;
        @include ombre ;
        background-color: $color-quaternary;
        list-style: none;
        &:hover {
            background-color:#f5eef7;
        }
        &:hover .fonctionnement__etape__icone {
            color: $color-primary;
        }
        @include desktop {
            width: 30%;
        }
        &__chiffre{
            position: relative;
            right: 15px;
            padding: 5px 10px;
            color: white;
            font-weight: 500; 
            @include bordure;
            background-color: $color-primary; 
        }
        &__icone {
            padding-right: 15px;   
            color: grey; 
        }
    }
}
// Partie cartes de restaurants
#bouton, #boutonn, #boutonnn, #boutonnnn {
    display: none;
    &:checked + label > i {
    font-weight: 900;
    color: transparent;
    background: linear-gradient(#f392d8,  #9356DC);
    background-clip: text;
}
}
.restaurant {
    padding: $padding-page;
    background-color:$color-quaternary;
    @include tablette{
        padding-left: 90px;
        padding-right :90px;
    }
    &__titre {
        font-size: 1.5em;
        margin: 0.67em 0px;
    }
    &__paire {
        @include desktop {
        display: flex;
        justify-content: space-between;
        }
    }
    &__carte {
        height: 300px; 
        margin-bottom: 50px;
        @include bordure;
        @include ombre ;
        background-color: white;
        @include desktop {
            width:45%;
        }
        &__container {
            position: relative;
            height: 70%;
            &__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 15px  15px 0 0;
                &--nouveau {
                    position: absolute;
                    right: 5%;
                    bottom: 70%;
                    padding: 5px 15px;
                    font-weight: 500;
                    color: #2e806c;
                    border: $color-teritiary 1px solid;
                    border-radius: 2px;
                    background-color: $color-teritiary;
                }
            }
        }
        &__bas {
            display: flex;
            align-items: center;
            padding: 20px;
            &__texte {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &__titre, &__quartier {
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__quartier {
                    font-size:22px ;
                    font-weight: 300;
                }
            }
            &__label {
                margin-left: auto;
                padding-left: 10px;
                &__icone {
                    padding: 14px 1px;
                    @include tablette {
                        pointer-events: none;
                    } 

                }
            }
        }
    }
}
.restaurant__carte__bas a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// Pied de page
.footer {
    padding: $padding-page;
    color: #FFFF;
    background-color: rgb(52, 52, 52);
    @include tablette {
        display: flex;
        flex-direction: row-reverse;
    }
    &__logo {
        width: 100px;
        filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(86deg) brightness(104%) contrast(104%);
        @include tablette {
            padding-bottom: 11px; // pour aligner le logo aux 4 élements
        }
    }
    &__list {
        padding: 0;
        list-style: none;
        @include tablette{
            display: flex; // pour que les 4 elements passent en ligne
            margin-right: 30px;  // pour espacer les 4 éléments du logo
        }
        li {
            padding-bottom: 5px;
            @include tablette{
                margin-right: 15px; // pour espacer les 4 élements entre eux
            }   
        }
        &__icone {
            width: 20px;
            height: 16px;
            padding-right: 10px;
        } 
    }   
}
