$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-teritiary : #99E2D0;
$color-quaternary : rgb(247,247,247);
$padding-page : 30px;
@mixin ombre {
    box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
}
@mixin bordure {
    border-radius: 20px;
    border: 0px transparent;
}
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    cursor: pointer;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.header{
        padding: 15px 0;
        &__logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }
} 
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0px rgba(3, 3, 7, 0.3) inset;
    padding: 15px 0;
    background-color: rgb(231, 231, 231);
    font-weight: 500;
    &__icone {
        margin: 0;  
        padding-right: 20px;
    }   
    &__ville {
       margin: 0;   
    }
} 
.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-quaternary;
    padding: $padding-page;
    &__titre {
        margin: 0 ;
        font-weight: 750;
        text-align: center;
    } 
    &__description {
        text-align: center;
    }
    &__bouton {
        font-weight: 500;
        @include bordure;
        @include ombre ;
        padding: 13px 17px;
        color:white;
        background: linear-gradient(#f392d8, $color-primary)
    }
} 
.fonctionnement {
    padding:$padding-page;
    ul {
        padding: 0;   
    }
    .fonctionnement__etape:hover .fonctionnement__etape__icone {
        color: $color-primary;
    }
    &__etape {
        @include bordure;
        @include ombre ;
        font-weight: 600;
        margin-bottom: 20px;
        padding: 25px 0;
        background-color: $color-quaternary;
        list-style: none;
        &:hover {
            background-color:#f5eef7;
        }
        &__chiffre{
            @include bordure;
            position: relative;
            right: 15px;
            padding: 5px 10px;
            background-color: $color-primary;
            color: white;
            font-weight: 500;
        }
        &__icone {
            color: grey;
            padding-right: 15px;   
        }
    }
}
.restaurant {
    background-color:$color-quaternary;
    padding: $padding-page;
    &__carte {
        @include bordure;
        @include ombre ;
        height: 300px; 
        margin-bottom: 50px;
        background-color: white;
        &__container {
            position: relative;
            height: 70%;
            &__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 15px  15px 0 0;
                &--nouveau {
                    border: $color-teritiary 1px solid;
                    border-radius: 2px;
                    position: absolute;
                    right: 5%;
                    bottom: 70%;
                    padding: 5px 15px;
                    font-weight: 500;
                    background-color: $color-teritiary;
                    color: #2e806c;
                }
            }
        }
        &__bas {
            display: flex;
            padding: 20px;
            &__icone {
                margin-left: auto;
                padding: 20px;
                &:hover {
                    font-weight: 900;
                    color: #f392d8;
                }
            }
            &__texte__titre, &__texte__quartier {
            margin: 0;
            }
            &__texte__quartier {
                font-size:22px ;
                font-weight: 300;
            }

        }
    }
}
.footer {
    padding: $padding-page;
    background-color: rgb(52, 52, 52);
    color: #FFFF;
    &__logo {
        filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(86deg) brightness(104%) contrast(104%);
        width: 100px;
    }
    &__list {
        list-style: none;
        padding: 0;
        &__icone {
            padding-right: 10px;
        }
        li {
            padding-bottom: 5px;
        }
    }   
}

