$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-teritiary : #99E2D0;
$padding-page : 30px;
@mixin ombre {
    box-shadow: 0px 6px 7px 0px rgba(102, 102, 110, 0.3);
}
@mixin bordure {
    border-radius: 20px;
    border: 0px transparent;
}
@keyframes remplissage {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes apparition {
    to {
     opacity: 1;
    }
    from {
       opacity: 0;
        transform: translateY(20px);
    }
}
@keyframes volet{
    0% {
        transform: translateX(99px);
    }
    100% {
        transform: translateX(0);
        }
}
@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes barres {
    0% {
     transform: scaleY(0.5);
    }
    100% {
     transform: scaleY(1);
    }
}
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.container {
    position: fixed; // le loader sera toujours visible sur la fenetre même si on scrolle
    z-index: 999; // le loader couvrira les élements qui le suivent
    width: 100%; // le loader prendra toute la largeur de la fenetre
    height: 100%; // le loader prendra toute la hauteur de la fenetre
    background-color: white; // couleur d'arrière-plan du loader
    display: flex; // pour pouvoir centrer le loader
    flex-direction: column; // pour que les blocs de l'animation se superposent en colonne
    align-items: center; // centre le loader en horizontale
    justify-content: center; // centre le loader en verticale
    visibility: hidden; // fait disparaitre l'animation
    opacity: 0; // fait disparaitre la couleur d'arriere-plan
    transition: visibility 14s, opacity 14s;
 }
 .load {
    display: flex;
    width: 50%;
    height: 30vh;
    justify-content: space-evenly;
    &__bar {
        background-color: $color-teritiary;
        height: 100%;
        width:3vh;
        animation-name: barres;
        animation-duration: 900ms;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $i * 180ms;
            }
            &--#{$i}-inv {
                animation-delay: $i * 200ms + random(100)*15ms;
                animation-direction: alternate-reverse;
                background-color: $color-secondary;
                &:hover {
                    animation-play-state: paused;
                }
            }
        } 
     }   
}
.header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    :first-of-type {
        width: 33%;
    }
    &__icone {
        padding-left: 20px;
    }
}
.photo_restaurant {
        width: 100%; 
        object-fit: cover;
        height: 300px;

}
#bouton {
    display: none;
    &:checked + label > i {
    font-weight: 900;
    background: linear-gradient(#f392d8,  #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: remplissage 300ms;
}
}
.carte {
    position: relative;
    bottom: 65px;
    border-radius: 40px 40px 0px 0;
    background-color:  rgb(247,247,247);
    border: 0px transparent ;
    padding: $padding-page ;
    margin-bottom: -65px;
    &__entete {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 20px;
        &__titre {
            font-family: Shrikhand, sans-serif;
            font-weight: 500;
        }
        &__icone {
                padding: 20px;
        }
    }
    &__section {
        //justify-content: space-between;
        margin-bottom: 30px;
        &__titre { 
            font-weight: 300;
            &--soulignement {
                border-bottom: 3.5px solid $color-teritiary;
            }
        }
        &__ligne {
            @include ombre;
            @include bordure;
            overflow: hidden;
            background: white;
            margin-bottom: 14px;
            opacity: 1;
            display: flex;
            &__entrees {
                animation: apparition 2000ms 0s both ;
            }
            &__plats{
                animation: apparition 2000ms 1s both;
            }
            &__desserts{
              animation: apparition 2000ms 2s both;  
            }
            &__sans_volet {
                padding: 15px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &__titre {
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__bas {
                    display: flex;
                    justify-content: space-between;
                    &__description {
                        margin: 0;
                        font-weight: 300;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &__prix {
                        margin: 0;
                        padding-left: 5px;
                        font-weight: 500;
                    }
                }
            }  
            &__avec_volet{
                transform: translateX(80px);
                padding: 15px;
                width: 0;
                background: #99E2D0;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: white;               
                }
            }   
            &:hover  .carte__section__ligne__sans_volet__bas__prix {
                transition-duration: 500ms;
            }
            &:hover .carte__section__ligne__avec_volet {
               animation: volet both 500ms;
                width: 80px;
            }
            &:hover .carte__section__ligne__avec_volet i {
                animation: rotation 500ms 150ms both;  
            }
        }
    }
    &__commander {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
       &__bouton {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include ombre;
        @include bordure;
        padding: 10px 30px;
        color: white;
        background: linear-gradient(#f392d8, $color-primary);
        font-weight: 400;
        &:hover {
            background: linear-gradient(#ff6acd, $color-primary);
            box-shadow: 0px 9px 7px 0px rgba(102, 102, 110, 0.3);
        }
    }
    }
}
.footer {
    padding: $padding-page ;
    background-color: rgb(52, 52, 52);
    color: #FFFF;
    &__logo {
        filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(86deg) brightness(104%) contrast(104%);
        width: 100px;
    }
    &__list {
        list-style: none;
        padding: 0;
        &__icone {
            padding-right: 10px;
        }
        li {
            padding-bottom: 5px;
        }
    }   
}